* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.hide {
  display: none;
}
.animate-bar {
  animation: background-color 10s linear;
  transition: width 1s linear;
}
.error {
  background-color: #ff0000;
}
.correct {
  background-color: #00ff55;
}
body {
  background-color: #ff9100;
  transition: background-color 0.5s ease;
}
body,
button {
  font-family: 'Poor Story', cursive;
}
#game-field {
  width: 70%;
  height: 400px;
  position: relative;
  margin: 50px auto;
  background-color: #ffa024;
  border: 1px solid #ff8800;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
  text-align: center;
}
#game-field #landing {
  width: 100%;
  height: 100%;
  padding: 30px;
  transition: opacity 0.2s ease-in;
}
#game-field #landing h1 {
  font-family: 'Slackey', cursive;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(156, 22, 22, 0.4);
  color: #111111;
}
#game-field #landing h1 span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
#game-field #landing #btn-start {
  width: 60%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5% 0 0 -30%;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  background-color: #ffd050;
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.4);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 900;
  color: #111;
  transition: all 0.2s ease;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}
#game-field #landing #btn-start:hover {
  background-color: rgba(255, 208, 80, 0.7);
  text-shadow: 1px 1px 1px rgba(156, 22, 22, 0.4);
}
#game-field #start-counter {
  line-height: 400px;
  font-size: 16rem;
  font-weight: 900;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
#game-field #questions {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
#game-field #questions h2 {
  margin-bottom: 30px;
}
#game-field #questions #answers {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin: 0 0 -80px -50%;
  padding: 30px;
}
#game-field #questions #answers .answer-btn {
  width: 47%;
  float: left;
  outline: none;
  cursor: pointer;
  margin: 0 6% 5% 0;
  border: 0;
  border-radius: 10px;
  background-color: #ffd050;
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.4);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
  color: #111;
  transition: all 0.2s ease;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}
#game-field #questions #answers .answer-btn:after {
  content: '';
  clear: both;
  display: table;
}
#game-field #questions #answers .answer-btn:nth-child(even) {
  margin-right: 0;
}
#game-field #questions #answers .answer-btn:hover {
  background-color: rgba(255, 208, 80, 0.7);
  text-shadow: 1px 1px 1px rgba(156, 22, 22, 0.4);
}
#game-field #questions .stats {
  width: 100%;
  padding: 15px 30px;
  position: absolute;
  bottom: 15px;
  left: 0;
}
#game-field #questions .stats:after {
  content: '';
  clear: both;
  display: table;
}
#game-field #questions .stats #timer {
  width: 100%;
  height: 15px;
  margin-bottom: 15px;
  background-color: #008000;
  box-shadow: 0 0 3px rgba(156, 22, 22, 0.4);
}
@keyframes background-color {
  0% {
    background-color: #008000;
  }
  100% {
    background-color: #ff0000;
  }
}
#game-field #questions .stats #question-count {
  float: left;
}
#game-field #questions .stats #score {
  float: right;
}
